main {
  min-width: 200px;
  width: 85vw;
  min-height: 100vh;
  margin: 0 auto;
}

.title-container {
  width: 85vw;
  min-height: 25vh;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container textarea {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  max-width: 700px;
  height: 150px;
  margin-top: 50px;
  padding: 3px;
  border: 3px solid #cccccc;
  border-radius: 0px;
  resize: none;
  outline: none;
}

.buttons-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons-container button {
  width: 100px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  background: #ffffff;
  font-size: 1.3rem;
  padding: 6px;
  box-shadow: -4px 6px 22px 0px rgba(204, 204, 204, 1);
  cursor: pointer;
  transition: .2s;
}

.buttons-container button:hover {
  background: #dddddd;
}

.error {
  color: #a00;
  font-size: .9rem;
}
