<div class="logout">
  <h3 (click)="logoutUser()">Logout</h3>
</div>

<header (click)="navigateTo('post')">
  <h1>Send your message!</h1>
</header>
<main>
  <h2>User posts</h2>
  <section>
    @defer(on viewport) {
    @if(messageslist) {
    @for(post of messageslist; track post.message_date){
    <div class="message-container">
      <h5 class="message-name">{{ post.user_name }}</h5>
      <p class="message-text">{{ post.message_text }}</p>
      <p class="message-date">{{ post.message_date }}</p>
      <br>
    </div>
    }
    }
    } @placeholder {
    <p>Loading...</p>
    }
  </section>
</main>
